<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="/home/appLogs" />
	
	<appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
           <pattern>%date{yyyy-MM-dd HH:mm:ss:SSS} | %-5level [%thread] %message%n</pattern>
        </layout>
    </appender>
    <appender name="RollingFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/eurkea-service.log</file>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/eurkea_server_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
             <maxFileSize>500MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss:SSS} | %-5level [%thread] %message%n</pattern>
		</encoder>
    </appender>

    <root level="info">
        <appender-ref ref="Console" />
        <appender-ref ref="RollingFile" />
    </root>

</configuration>
